pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp
.clj-kondo
.calva
.vscode
/dist/
.metals
.bloop
/project/.bloop
/project/target/
/project/project/